<!-- (CleenCode) -->
<!-- HTML template for problem page -->

{% extends "base.html" %}

{% block main_content %}

<div style="position: relative; margin-top: 25vh;">
    <a href="{{ url_for('problems') }}" class="btn-container btn-back" style="position: absolute; left: 0; top: 50%; transform: translateY(-50%);">Back</a>
    <h1 class="page_title">{{ data['problem_name'] }}</h1>
</div>

<div class="problem_container">
  
  <div>
    <h2>Description</h2> 
    <pre>
        {{ data['description'] }}
    </pre>
  </div>
</div>

<p></p>

<div class="problem_container">

  <div>
    <form method=POST action="">
      <label for="code">Your Code Here:</label> 
      <p>
        <!-- <textarea id="code" name="code">{{ data['incorrect_code'][1:] }}</textarea> -->
        <div class="editor-container">
            <pre id="highlight-layer"><code id="highlight-code"></code></pre>
            <textarea id="code" name="code" spellcheck="false" autocomplete="off" autocorrect="off" autocapitalize="off">{{ data['incorrect_code'] }}</textarea>
            <input class="test" type="submit" name="test" value="Test">
        </div>
      </p>
    </form>
  </div>

<div>
  <label for="code">Test Cases:</label>
  
  <!-- scrollable container -->
  <div style="max-height: 400px; overflow-y: auto; padding: 10px; border-radius: 10px; background: linear-gradient(to bottom, grey, lightgray); border: 2px solid grey;">
    <ol style="list-style: none; padding: 0; margin: 0;">
      
      {% for test in tests %}

      {% if 'output' in test.keys() %}
        <!-- Example Test Cases -->
        {% for input_name, input_value in test['input'].items() %}
          <li style="border: 1px solid black; border-radius: 8px; padding: 12px; margin: 8px 0; background-color: lightgray;">
            <p><strong style="color:black">{{ input_name }}:</strong> {{ input_value }}</p>
            <p><strong style="color:black">Expecting:</strong> {{ test['output'] }}</p>
          </li>
        {% endfor %}
      {% else %}
        <!-- User-submitted Test Cases -->
        {% for input_name, input_value in test['input'].items() %}
          <li style="border: 1px solid black; border-radius: 8px; padding: 12px; margin: 8px 0; background-color: lightgrey;">
            <p><strong style="color:black">Expecting:</strong> {{ test['expected'] }}</p>
            <p><strong style="color:black">Result:</strong> {{ test['actual'] }}</p>
            {% if test['passed'] %}
              <h4 style="color: white; margin: 5px 0;">PASSED</h4>
            {% else %}
              <h4 style="color: gray; margin: 5px 0;">FAILED</h4>
            {% endif %}
          </li>
        {% endfor %}
      {% endif %}

      {% endfor %}
    </ol>
  </div>
</div>

</div>

{% endblock %}